PORT=8000

OPENAI_API_KEY=your-openai-api-key-here

GMAIL_CLIENT_ID=your-gmail-client-id-here
GMAIL_CLIENT_SECRET=your-gmail-client-secret-here
GMAIL_REDIRECT_URI=http://localhost:8080/gmail-oauth2callback

APOLLO_API_KEY=your-apollo-api-key

OPENAI_MODEL=gpt-3.5-turbo
OPENAI_TEMPERATURE=0.7
OPENAI_MAX_COMPLETION_TOKENS=512

SERVICE_NAME=coldemailer
OTEL_EXPORTER_OTLP_ENDPOINT=host.docker.internal:4317
INSECURE_MODE=true